<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <title>新疆棉花灌溉决策系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
</head>

<body>
    <div class="header">
        <div class="col site-header">
            <div class="col logo">
                <h1>
        			<a href="/">新疆棉花灌溉决策系统</a>
        		</h1>
            </div>
        </div>
    </div>
    <div class="container navigation">
        <div class="row">
            <div class="col nav">
                <ul class="nav  nav-tabs navbar-nav" id="index-nav">
                    <li id="nav-li">
                        <a href="#manager" data-toggle="tab">数据管理</a>
                    </li>
                    <li id="nav-li">
                        <a href="#desicion" data-toggle="tab">灌溉决策</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container main">
        <div class="tab-content">
            <div class="tab-pane fade" id="manager">
                <div class="row">
                    <div class="col-xs-3 left-column" id="data-left-cloumn">
                        <div id="man-left">
                            <ul class="nav nav-tabs nav-pills nav-stacked" id="manage-nav">
                                <li class="active">
                                    <a href="#single" data-toggle="tab">当天数据</a>
                                </li>
                                <li>
                                    <a href="#mult" data-toggle="tab" onclick="show_mult();">历史数据</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-9 middle-column">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="single">
                                <div id="cezhan">
                                    <div class="button">
                                        <div class="row cezhan">
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511102" onclick="get_chart_datas(this.value)">测站01</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511119" onclick="get_chart_datas(this.value)">测站02</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511140" onclick="get_chart_datas(this.value)">测站03</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511144" onclick="get_chart_datas(this.value)">测站04</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511145" onclick="get_chart_datas(this.value)">测站05</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511146" onclick="get_chart_datas(this.value)">测站06</button>
                                            </div>
                                        </div>
                                        <div class="row cezhan">
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511147" onclick="get_chart_datas(this.value)">测站07</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511148" onclick="get_chart_datas(this.value)">测站08</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511170" onclick="get_chart_datas(this.value)">测站09</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511179" onclick="get_chart_datas(this.value)">测站10</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511209" onclick="get_chart_datas(this.value)">测站11</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511126" onclick="get_chart_datas(this.value)">测站12</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-charts" id="single_shui_chart"></div>
                                <div class="show-charts" id="single_wen_chart"></div>
                            </div>
                            <div class="tab-pane fade" id="mult">
                                <div id="cezhan">
                                    <div class="button">
                                        <div class="row cezhan">
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511102" onclick="mult_chart_datas(this.value)">测站01</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511119" onclick="mult_chart_datas(this.value)">测站02</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511140" onclick="mult_chart_datas(this.value)">测站03</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511144" onclick="mult_chart_datas(this.value)">测站04</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511145" onclick="mult_chart_datas(this.value)">测站05</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511146" onclick="mult_chart_datas(this.value)">测站06</button>
                                            </div>
                                        </div>
                                        <div class="row cezhan">
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511147" onclick="mult_chart_datas(this.value)">测站07</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511148" onclick="mult_chart_datas(this.value)">测站08</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511170" onclick="mult_chart_datas(this.value)">测站09</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511179" onclick="mult_chart_datas(this.value)">测站10</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511209" onclick="mult_chart_datas(this.value)">测站11</button>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-success" value="170511126" onclick="mult_chart_datas(this.value)">测站12</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mult-chart" id="mult_shui_chart"></div>
                                <div class="mult-chart" id="mult_wen_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="desicion">
                loading...
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <script type="text/javascript">
    var obj;
    var cezhan = '';
    var shui1 = [];
    var shui2 = [];
    var shui3 = [];
    var wen1 = [];
    var wen2 = [];
    var wen3 = [];
    var mult_shui_chart;
    var mult_wen_chart;
    var shui_option = {
        title: {
            text: '土壤水分',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: { readOnly: false },
                magicType: { type: ['line', 'bar'] },
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['00:00', '4:00', '8:00', '12:00', '16:00', '20:00', '23:00']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} %'
            }
        },
        series: [{
                name: cezhan + '(15cm)',
                type: 'line',
                // data: [11, 11, 15, 13, 12, 13, 10],
                data: shui1,
                // markPoint: {
                //     data: [
                //         { type: 'max', name: '最大值' },
                //         { type: 'min', name: '最小值' }
                //     ]
                // },
                // markLine: {
                //     data: [
                //         { type: 'average', name: '平均值' }
                //     ]
                // }
            },
            {
                name: cezhan + '(30cm)',
                type: 'line',
                data: shui2,
                // makePoint: {
                //     data: [
                //         { type: 'max', name: '最大值' },
                //         { type: 'min', name: '最小值' }
                //     ]
                // },
            },
            {
                name: cezhan + '(45cm)',
                type: 'line',
                data: shui3,
                // markPoint: {
                //     data: [
                //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                //     ]
                // },
                // markLine: {
                //     data: [
                //         { type: 'average', name: '平均值' },
                //         [{
                //             symbol: 'none',
                //             x: '90%',
                //             yAxis: 'max'
                //         }, {
                //             symbol: 'circle',
                //             label: {
                //                 normal: {
                //                     position: 'start',
                //                     formatter: '最大值'
                //                 }
                //             },
                //             type: 'max',
                //             name: '最高点'
                //         }]
                //     ]
                // }
            }
        ]
    };
    var wen_option = {
        title: {
            text: '土壤温度',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: { readOnly: false },
                magicType: { type: ['line', 'bar'] },
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['00:00', '4:00', '8:00', '12:00', '16:00', '20:00', '23:00']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} %'
            }
        },
        series: [{
                name: cezhan + '(15cm)',
                type: 'line',
                // data: [11, 11, 15, 13, 12, 13, 10],
                // data: shui1,
                // markPoint: {
                //     data: [
                //         { type: 'max', name: '最大值' },
                //         { type: 'min', name: '最小值' }
                //     ]
                // },
                // markLine: {
                //     data: [
                //         { type: 'average', name: '平均值' }
                //     ]
                // }
            },
            {
                name: cezhan + '(30cm)',
                type: 'line',
                // data: shui2,
                // makePoint: {
                //     data: [
                //         { type: 'max', name: '最大值' },
                //         { type: 'min', name: '最小值' }
                //     ]
                // },
            },
            {
                name: cezhan + '(45cm)',
                type: 'line',
                // data: shui3,
                // markPoint: {
                //     data: [
                //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                //     ]
                // },
                // markLine: {
                //     data: [
                //         { type: 'average', name: '平均值' },
                //         [{
                //             symbol: 'none',
                //             x: '90%',
                //             yAxis: 'max'
                //         }, {
                //             symbol: 'circle',
                //             label: {
                //                 normal: {
                //                     position: 'start',
                //                     formatter: '最大值'
                //                 }
                //             },
                //             type: 'max',
                //             name: '最高点'
                //         }]
                //     ]
                // }
            }
        ]
    };
    $(function() {
        $('#index-nav a:first').tab('show');
        var single_shui_chart = echarts.init(document.getElementById('single_shui_chart'));
        var single_wen_chart = echarts.init(document.getElementById('single_wen_chart'));


        single_shui_chart.setOption(shui_option);
        single_wen_chart.setOption(wen_option);

    });

    function show_mult() {
        mult_shui_chart = echarts.init(document.getElementById('mult_shui_chart'));
        mult_wen_chart = echarts.init(document.getElementById('mult_wen_chart'))

        mult_shui_chart.setOption(shui_option);
        mult_wen_chart.setOption(wen_option);
    }

    function get_chart_datas(value) {
        var addr = value;
        cezhan = value;
        var date = '2017-09-18';
        $.ajax({
            type: 'GET',
            url: '/data/oneday/?' + 'addr=' + addr + '&date=2017-09-30',
            success: function(response) {
                obj = eval(response);
                obj = obj.result[0];
                cezhan = obj.name + "(" + obj.addr + ")";
                shui1 = obj.shui_15;
                shui2 = obj.shui_30;
                shui3 = obj.shui_45;
                wen1 = obj.wen_15;
                wen2 = obj.wen_30;
                wen3 = obj.wen_45;
                var single_shui_chart = echarts.init(document.getElementById('single_shui_chart'));
                var single_wen_chart = echarts.init(document.getElementById('single_wen_chart'));
                var shui_option = {
                    title: {
                        text: '土壤水分',
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['00:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    },
                    series: [{
                            name: cezhan + '(15cm)',
                            type: 'line',
                            // data: [11, 11, 15, 13, 12, 13, 10],
                            data: shui1,
                            // markPoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' }
                            //     ]
                            // }
                        },
                        {
                            name: cezhan + '(30cm)',
                            type: 'line',
                            data: shui2,
                            // makePoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                        },
                        {
                            name: cezhan + '(45cm)',
                            type: 'line',
                            data: shui3,
                            // markPoint: {
                            //     data: [
                            //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' },
                            //         [{
                            //             symbol: 'none',
                            //             x: '90%',
                            //             yAxis: 'max'
                            //         }, {
                            //             symbol: 'circle',
                            //             label: {
                            //                 normal: {
                            //                     position: 'start',
                            //                     formatter: '最大值'
                            //                 }
                            //             },
                            //             type: 'max',
                            //             name: '最高点'
                            //         }]
                            //     ]
                            // }
                        }
                    ]
                };
                var wen_option = {
                    title: {
                        text: '土壤温度',
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['00:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    },
                    series: [{
                            name: cezhan + '(15cm)',
                            type: 'line',
                            // data: [11, 11, 15, 13, 12, 13, 10],
                            data: wen1,
                            // markPoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' }
                            //     ]
                            // }
                        },
                        {
                            name: cezhan + '(30cm)',
                            type: 'line',
                            data: wen2,
                            // makePoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                        },
                        {
                            name: cezhan + '(45cm)',
                            type: 'line',
                            data: wen3,
                            // markPoint: {
                            //     data: [
                            //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' },
                            //         [{
                            //             symbol: 'none',
                            //             x: '90%',
                            //             yAxis: 'max'
                            //         }, {
                            //             symbol: 'circle',
                            //             label: {
                            //                 normal: {
                            //                     position: 'start',
                            //                     formatter: '最大值'
                            //                 }
                            //             },
                            //             type: 'max',
                            //             name: '最高点'
                            //         }]
                            //     ]
                            // }
                        }
                    ]
                };
                single_shui_chart.setOption(shui_option);
                single_wen_chart.setOption(wen_option);
            }
        })
    }
    function mult_chart_datas(value) {
        var addr = value;
        cezhan = value;
        $.ajax({
            type: 'GET',
            url: '/data/multday/?' + 'addr=' + addr + '&start=2017-09-01' + '&end=2017-09-30',
            success: function(response) {
                obj = eval(response);
                obj = obj.result[0];
                cezhan = obj.name + "(" + obj.addr + ")";
                shui1 = obj.shui_15;
                shui2 = obj.shui_30;
                shui3 = obj.shui_45;
                wen1 = obj.wen_15;
                wen2 = obj.wen_30;
                wen3 = obj.wen_45;
                mult_shui_chart = echarts.init(document.getElementById('mult_shui_chart'));
                mult_wen_chart = echarts.init(document.getElementById('mult_wen_chart'));
                var shui_option = {
                    title: {
                        text: '土壤水分',
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['09-01','09-02','09-03','09-04','09-05','09-06','09-07','09-08','09-09','09-10','09-11','09-12','09-13','09-14','09-15','09-16','09-17','09-18','09-19','09-20','09-21','09-22','09-23','09-24','09-25','09-26','09-27','09-28','09-29','09-30']
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    },
                    series: [{
                            name: cezhan + '(15cm)',
                            type: 'line',
                            // data: [11, 11, 15, 13, 12, 13, 10],
                            data: shui1,
                            // markPoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' }
                            //     ]
                            // }
                        },
                        {
                            name: cezhan + '(30cm)',
                            type: 'line',
                            data: shui2,
                            // makePoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                        },
                        {
                            name: cezhan + '(45cm)',
                            type: 'line',
                            data: shui3,
                            // markPoint: {
                            //     data: [
                            //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' },
                            //         [{
                            //             symbol: 'none',
                            //             x: '90%',
                            //             yAxis: 'max'
                            //         }, {
                            //             symbol: 'circle',
                            //             label: {
                            //                 normal: {
                            //                     position: 'start',
                            //                     formatter: '最大值'
                            //                 }
                            //             },
                            //             type: 'max',
                            //             name: '最高点'
                            //         }]
                            //     ]
                            // }
                        }
                    ]
                };
                var wen_option = {
                    title: {
                        text: '土壤温度',
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: [cezhan + '(15cm)', cezhan + '(30cm)', cezhan + '(45cm)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['09-01','09-02','09-03','09-04','09-05','09-06','09-07','09-08','09-09','09-10','09-11','09-12','09-13','09-14','09-15','09-16','09-17','09-18','09-19','09-20','09-21','09-22','09-23','09-24','09-25','09-26','09-27','09-28','09-29','09-30']
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    },
                    series: [{
                            name: cezhan + '(15cm)',
                            type: 'line',
                            // data: [11, 11, 15, 13, 12, 13, 10],
                            data: wen1,
                            // markPoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' }
                            //     ]
                            // }
                        },
                        {
                            name: cezhan + '(30cm)',
                            type: 'line',
                            data: wen2,
                            // makePoint: {
                            //     data: [
                            //         { type: 'max', name: '最大值' },
                            //         { type: 'min', name: '最小值' }
                            //     ]
                            // },
                        },
                        {
                            name: cezhan + '(45cm)',
                            type: 'line',
                            data: wen3,
                            // markPoint: {
                            //     data: [
                            //         { name: '周最低', value: -2, xAxis: 1, yAxis: -1.5 }
                            //     ]
                            // },
                            // markLine: {
                            //     data: [
                            //         { type: 'average', name: '平均值' },
                            //         [{
                            //             symbol: 'none',
                            //             x: '90%',
                            //             yAxis: 'max'
                            //         }, {
                            //             symbol: 'circle',
                            //             label: {
                            //                 normal: {
                            //                     position: 'start',
                            //                     formatter: '最大值'
                            //                 }
                            //             },
                            //             type: 'max',
                            //             name: '最高点'
                            //         }]
                            //     ]
                            // }
                        }
                    ]
                };
                mult_shui_chart.setOption(shui_option);
                mult_wen_chart.setOption(wen_option);
            }
        })
    }
    </script>
</body>

</html>